<table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>index</th>
      <th>Country name</th>
      <th>Regional indicator</th>
      <th>Ladder score</th>
      <th>Standard error of ladder score</th>
      <th>upperwhisker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Finland</td>
      <td>Western Europe</td>
      <td>7.842</td>
      <td>0.032</td>
      <td>7.904</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Denmark</td>
      <td>Western Europe</td>
      <td>7.620</td>
      <td>0.035</td>
      <td>7.687</td>
    </tr>
  </tbody>
</table><p> shape {{shape}}  </p>
<p> {{operation}}  successful</p>