<table border="1" class="dataframe" id="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country name</th>
      <th>Regional indicator</th>
      <th>Ladder score</th>
      <th>Standard error of ladder score</th>
      <th>upperwhisker</th>
      <th>lowerwhisker</th>
      <th>Logged GDP per capita</th>
      <th>Social support</th>
      <th>Healthy life expectancy</th>
      <th>Freedom to make life choices</th>
      <th>Generosity</th>
      <th>Perceptions of corruption</th>
      <th>Ladder score in Dystopia</th>
      <th>Explained by: Log GDP per capita</th>
      <th>Explained by: Social support</th>
      <th>Explained by: Healthy life expectancy</th>
      <th>Explained by: Freedom to make life choices</th>
      <th>Explained by: Generosity</th>
      <th>Explained by: Perceptions of corruption</th>
      <th>Dystopia + residual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Finland</td>
      <td>Western Europe</td>
      <td>7.842</td>
      <td>0.032</td>
      <td>7.904</td>
      <td>7.780</td>
      <td>10.775</td>
      <td>0.954</td>
      <td>72.0</td>
      <td>0.949</td>
      <td>-0.098</td>
      <td>0.186</td>
      <td>2.43</td>
      <td>1.446</td>
      <td>1.106</td>
      <td>0.741</td>
      <td>0.691</td>
      <td>0.124</td>
      <td>0.481</td>
      <td>3.253</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Denmark</td>
      <td>Western Europe</td>
      <td>7.620</td>
      <td>0.035</td>
      <td>7.687</td>
      <td>7.552</td>
      <td>10.933</td>
      <td>0.954</td>
      <td>72.7</td>
      <td>0.946</td>
      <td>0.030</td>
      <td>0.179</td>
      <td>2.43</td>
      <td>1.502</td>
      <td>1.108</td>
      <td>0.763</td>
      <td>0.686</td>
      <td>0.208</td>
      <td>0.485</td>
      <td>2.868</td>
    </tr>
  </tbody>
</table><p>Dataframe shape {{shape}}

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</p>